.cardMessageHeader-header-item {
  display: flex;
  width: 100%;
  padding-left: 0.05rem;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.0275rem;
}
.cardMessageHeader-header-item span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardMessageHeader-cursor-none {
  cursor: default;
  justify-content: center;
}
