.OptionCrudSelect-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.OptionCrudSelect-option-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.OptionCrudSelect-btn-delete {
  cursor: pointer;
  width: 0.8rem;
  padding: 0;
  border: none;
  background-color: transparent;
}
