body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 80vw;
  height: 100vh;
  padding: 0;
  margin: auto;
}
.content-error {
  justify-content: center;
  align-items: end;
  padding: 0 0 0 3rem;
  display: flex;
  width: 60%;
  flex-direction: column;
}
.title-error {
  font-size: 4.5rem;
  width: 100%;
  margin: 0;
}
.description-error {
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
}
.image-error {
  width: 12rem;
  height: 12rem;
  margin: auto auto auto 0;
}
.image-error img {
  width: 100%;
  height: 100%;
}
