.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
}

.input-container-textarea {
  width: 100%;
  font-size: var(--size-input);
  font-weight: 500;
  background-color: var(--color-menu);
  border-bottom: 2px solid var(--color-quaternay);
  /* border-radius: var(--radius-input); */
  padding: 0.5rem;
}
