.contractRowSchedule-text-subtitle {
  font-weight: 600;
  font-size: 0.6rem;
}
.contractRowSchedule-text-info {
  font-size: 0.6rem;
}
.contractRowSchedule-text-title {
  font-weight: 700;
  font-size: 0.6rem;
}
.detailsContracts-row-extra {
  width: 90%;
  left: auto;
}
.contractRowSchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}
