.chip-container-file {
  width: 100%;
  font-weight: 400;
  max-height: 1.8rem;
  cursor: pointer;
}
.chip-file-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  color: var(--color-quaternay);
  padding: 0.3rem 0.5rem;
  background-color: var(--color-menu);
  border-radius: var(--radius-input);
  width: 100%;
  text-decoration: none;
  outline: none;
  transition: 0.2s ease-in;
}
.chip-file-link:hover {
  border-radius: var(--radius-input);
  background-color: #e3e3e3;
}
.chip-file-information {
  display: flex;
  max-width: 90%;
  align-items: center;
  gap: 0.3rem;
}
.chip-file-icon-doc {
  width: 1.2rem;
  height: 1.2rem;
}
.chip-file-icon-close {
  cursor: pointer;
  width: 0.7rem;
  height: 0.7rem;
}
.chip-file-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-secondary);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
