.procedureHistory {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
  flex-direction: column;
  width: 100%;
}
.procedureHistory-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.procedureHistory-download-options {
  display: flex;
  gap: 1rem;
}
.procedureHistory-title-contain {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.procedureHistory-subtitle-contain {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.procedureHistory-subtitle {
  max-width: 100%;
  width: 100%;
  font-weight: 500;
  text-overflow: ellipsis;
  color: var(--color-gray);
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}
.procedureHistory-subtitle-value {
  color: var(--color-gray-tertiary);
  font-weight: 500;
}

.procedureHistory-subtitle-options {
  display: flex;
  gap: 0.5rem;
}

.ProcedureHistory-report-buttons {
  display: flex;
  gap: 0.5rem;
}
