.SidebarContractCard {
  position: relative;
}

.SidebarContractCard-sidebar-data {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
  cursor: pointer;
  padding: 0.3rem 1.5rem;
}
.contract-selected {
  background-color: #d6e5ff;
}
.SidebarContractCard-sidebar-data:hover {
  background-color: #d6e5ff79;
}
.SidebarContractCard-sidebar-figure {
  min-width: 1rem;
  aspect-ratio: 1;
}

.SidebarContractCard-sidebar-name {
  overflow: hidden;
  color: #000;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.SidebarContractCard-sidebar-cui {
  color: #808080;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.89288rem; /* 142.857% */
  letter-spacing: 0.0625rem;
}
.contractCard-circle-status {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;

  top: 0;
  bottom: 0;
  margin: auto;
  right: 1rem;
}

.SidebarContractCard-text-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
