.csp-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.csp-card {
  display: flex;
  flex-direction: column;
}

.csp-project {
  display: flex;
  padding: 5px 0px;
  gap: 5px;
  align-items: center;
}
.csp-project:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.csp-project h4 {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(123, 123, 123, 1);
}

.csp-project p {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.015em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.csp-project-info {
  display: flex;
  flex-direction: column;
}
