.headerProcedure {
  display: flex;
  flex-direction: column;
}
.headerProcedure-filter {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.headerProcedure-options-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}
@media (max-width: 768px) {
  .headerProcedure-options-container {
    flex-wrap: wrap;
  }
}
