.headerTaskForReview {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerTaskForReview-general-filter {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
