.attendancePdf-download {
  display: none;
}

.attendance-download {
  position: absolute;
  right: calc(50% - 75px);
  width: 100%;
  top: -30px;
  background-color: #323639;
  width: 150px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.attendance-download p {
  color: white;
}
.attendance-download:hover {
  background-color: #424649;
}

.attendancePdf-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.attendancePdf-viewer {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .attendancePdf-viewer {
    display: none;
  }
  .attendancePdf-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .attendance-download {
    position: absolute;
    top: 50%;
    left: calc(50% - 75px);
    /* position: absolute;
    right: 90px;
    top: 33px;
    border-radius: 50%;
    background-color: #323639;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center; */
  }
}
